<div class="maindiv">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-toolbar>
      <mat-toolbar-row style="
    height: 64px;
    width: 1297px;
    background-color: white;
">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="../../../assets/keep_48dp.png">FundooKeep
        <input  type="text" class="searchbox" matInput placeholder="search"  routerLink="new" [(ngModel)]="searchtext">
         <button mat-button (click)="searching()" > <mat-icon>search</mat-icon></button>
        <div class="one">

          <button mat-icon-button class="iconbtn">
            <mat-icon>refresh</mat-icon>
          </button>


          <button *ngIf="list" mat-icon-button class="iconbtn" (click)="clicker()">
            <mat-icon style="font-size:25px;">view_agenda</mat-icon>
          </button>
          <button *ngIf="grid" (click)="clicker()" class="iconbtn" mat-icon-button><img
              src="../../../assets/menu-grid.svg" style="font-size:15px;"></button>



          <button mat-icon-button [matMenuTriggerFor]="newmenu" class="iconbtn">
            <mat-icon style="font-size:25px;">settings</mat-icon>
          </button>
          <mat-menu class="trigger" #newmenu="matMenu">
            <button mat-menu-item>settings</button>
            <button mat-menu-item>sendfeedback</button>
            <button mat-menu-item>Help</button>
            <button mat-menu-item>AppDownloads</button>
            <button mat-menu-item>Addshortcuts</button>
          </mat-menu>
          <button mat-icon-button class="iconbtn">
            <mat-icon style="font-size:25px;">apps</mat-icon>
          </button>

          <!-- <button mat-icon-button ><mat-icon style="font-size:25px;">account_box</mat-icon></button> -->
          
          <button mat-icon-button class="source" [matMenuTriggerFor]="mymenu">
            <!-- <mat-icon>account_box</mat-icon> -->
           <mat-icon ><img style="border-radius:100px;" src="{{googleimages}}"></mat-icon>
          </button>
          <mat-menu class="menubar" #mymenu="matMenu">
            <div>
              <img class="source" src="{{googleimages}}"> {{email}}
            </div>
            <mat-divider></mat-divider>
            <div class="pixels" fxLayoutGap="10px"><input type="button"
                style="color: rgb(104, 101, 101); margin-bottom: 20px;" value="AddAccount">
              <input type="button" style="color: rgb(104, 101, 101);" value="RemoveAccount" (click)="remove()" >
            </div>
          </mat-menu>

        </div>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <mat-divider></mat-divider>
  <mat-sidenav-container class="example-container">
    <mat-sidenav class="myclass" #drawer mode="side" role="navigation">
      <mat-list    style="height: 400px;" 
      >
        <mat-nav-list>
          <a mat-list-item routerLink="note" [routerLinkActive]="['is-active']">
            <mat-icon>lightbulb_outline</mat-icon>
            <span class="notes">Notes</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="reminder" [routerLinkActive]="['is-active']">
            <mat-icon>notifications_none</mat-icon>
            <span class="reminders">reminders</span>
          </a>
          <mat-divider></mat-divider>
          <span class="labels">Labels</span>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item  (click)="opendialog()">
           <mat-icon >mode_edit</mat-icon>
            <span class="editlabels">Edit labels</span>
          </a>
          <div *ngFor="let users of details">
           <mat-icon class="mylabel">label</mat-icon><button  mat-icon-button routerLink="editlabel" >{{users.labelname}}</button>
          </div>
          <mat-divider></mat-divider>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="trash" [routerLinkActive]="['is-active']">
            <mat-icon>archive</mat-icon>
            <span class="achieve">Archive</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="delete" [routerLinkActive]="['is-active']">
            <mat-icon>delete</mat-icon>
            <span class="trash">trash</span>
          </a>
        </mat-nav-list>
        <div class="last">
          <mat-list>
            <li>privacy -terms</li>
            open-source licenses
          </mat-list>
        </div>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: white;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>