
  <div fxLayout="row" fxLayoutAlign="center center" >
<mat-toolbar>
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/keep_48dp.png">FundooKeep
    <Input class="searchbox" matInput placeholder="search">
      <div class ="small">
      <mat-icon>refresh</mat-icon>
        <mat-icon>view_agenda</mat-icon>
        <mat-icon>settings</mat-icon>
        <mat-icon>apps</mat-icon>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>
<mat-sidenav-container class="example-container">
  
    <input  class="box" Matinput placeholder="take a note">
  <mat-sidenav class="myclass" #drawer mode="side" opened role="navigation">
      <mat-list>
        <mat-icon>lightbulb_outline</mat-icon>
        <span class="ff">Notes</span>
        <mat-list class="my">
            <mat-icon>notifications_none</mat-icon>
            <span class="second">Reminder</span>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list><span class="label">Labels</span></mat-list>
        <mat-list class="spacing">
            <mat-icon>border_color</mat-icon>
            <span class="third">Edit labels</span>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-icon>archive</mat-icon>
            <span class="fourth">Archive</span>
        </mat-list>
        <mat-list>
            <mat-icon>delete</mat-icon>
            <span class="fourth">Trash</span>
        </mat-list>
      </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
