<div fxLayout="row" fxLayoutAlign="center center">
  <mat-toolbar>
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="../../../assets/keep_48dp.png">FundooKeep
      <Input class="searchbox" matInput placeholder="search">
      <div class="small">
        <span class="one">
         <button mat-icon-button><mat-icon style="font-size:25px;">refresh</mat-icon></button>
        </span>
        <span class="two">
          <button mat-icon-button><mat-icon style="font-size:25px;">view_agenda</mat-icon></button>
        </span>
       
        <span class="three">
         <button mat-icon-button> <mat-icon style="font-size:25px;">settings</mat-icon></button>
        </span>
        <span class="four">
        <button mat-icon-button> <mat-icon style="font-size:25px;">apps</mat-icon></button> 
        </span>
        <span class="five">
          <button mat-icon-button  onclick=signout() routerLink="../login"><mat-icon style="font-size:25px;">account_box</mat-icon></button>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav class="myclass" #drawer mode="side" opened role="navigation">
    <mat-list>
            <mat-nav-list>
              <a mat-list-item routerLink="note">
              <mat-icon>lightbulb_outline</mat-icon>
              <span class="notes">Notes</span>
              </a>
            </mat-nav-list>
            <mat-nav-list>
              <a mat-list-item>
                <mat-icon>notifications_none</mat-icon>
                <span class="reminders">reminders</span>
              </a>
              <mat-divider></mat-divider>
              <span class="labels">Labels</span>
            </mat-nav-list>
                <mat-nav-list>
                  <a mat-list-item routerlink="">
                  <mat-icon>mode_edit</mat-icon>
                  <span class="editlabels">Edit labels</span>
                  </a>
                  <mat-divider></mat-divider>
                </mat-nav-list>
                    <mat-nav-list>
                      <a mat-list-item routerlink="">
                      <mat-icon>archive</mat-icon>
                      <span class="achieve">Archive</span>
                      </a>
                    </mat-nav-list>
                     <mat-nav-list>
                          <a mat-list-item routerlink="">
                          <mat-icon>delete</mat-icon>
                          <span class="trash">trash</span>
                          </a>
                        </mat-nav-list>
                        <div class="last">
                    
                        <mat-list>
                          <li>privacy -terms</li>
                          open-source licenses
                       
                    </mat-list>
                    </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>