<div class="setsize" fxLayout="row wrap" fxLayoutGap="4px"
fxLayoutAlign="start center">
<mat-card  class="searchcard" *ngFor="let users of details | searchfilter:mydata" [ngStyle]="{'background-color': users.color}"
[ngClass]="direction=='row ' ? 'row' :'column' ">
<div class="last" (click)="openDialog(users)" >
    <div>
        <p> {{users.title}}</p>
        <p>{{users.description}} </p>
        <p [ngClass]="users.reminder == '' ? 'dateVisOff': 'dateVisOn' " >
                <mat-chip-list>
                        <mat-chip>
             <mat-icon  class="remins "style="border-radius: 5px; margin-left: 5px; margin-top: 5px;">schedule</mat-icon>{{users.reminder}}
                            </mat-chip>
                 </mat-chip-list>
        </p>
    </div>
</div>
</mat-card>
</div>