<!DOCTYPE html>
<html>

<head>
    <title>LOGIN Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripting.js"></script>
</head>

<body ng-app='Myform' ng-controller='appcontroller'>
    <h1>LOGIN FORM</h1>
    <div>
        <form name="login">
            <p>email:<br>
                <input type="text" placeholder="enter the email" name="email" ng-model=user.email required>
                <span ng-show="login.email.$error.required">Email is required.</span>
            </p>
            <p>password:<br>
                <input type="password" placeholder=" enter the password" name="password" ng-model=user.password
                    required>
                <span ng-show="login.password.$error.required">Password is required.</span>
            </p>
            <input type="submit" ng-click="submitForm()" value="login">
            <input type="reset" value="cancel">
    </div>
    <div>
        <strong>{{alertMessage}}</strong>
    </div>
    </form>
    {{user|json}}
</body>

</html>