<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script>
            angular.module('angularFormApp',[])
.controller('regController',['$scope','$http',
function ($scope,$http)
{
     $scope.user = {};
$scope.submitForm=function()
{
    $scope.message={};
       $http({
        method:'post',
       dataType:'json',
        data : $scope.user, //forms user object
        url:'http://localhost/codeigniter/Welcome/add',
        headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
    }).success(function (data)
    {
            $scope.message=data;
    });
};
}]);
        </script>
        <body>
        <div id="content" ng-app="TryApp" ng-controller="regController">
          <form ng-submit="submit()">
            <input type="text" placeholder="first name" name='name' ng-model="user.Name" />
            <br>
            <input type="text" placeholder="email address" name="name" ng-model="user.email" />
            <br>
            <input type="text" placeholder="age" name="age" ng-model="user.age" />
            <br>
            <input type="submit" value="Save" />
           
        </form>
        <p>{{user | json }}</p>
      </div>
</body>
</html>