<!DOCTYPE html>
<html>

<!--Declaring the head section-->
<head>
    <title>Registration FORM</title>

    <!--including the angularjs extension file-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="Script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
            $(document).ready(function(){
              $("input").focus(function(){
                $(this).css("background-color", "#cccccc");
              });
              $("input").blur(function(){
                $(this).css("background-color", "#ffffff");
              });
            });
            </script>

    <!--including the style sheet-->
    <link rel="stylesheet" type="text/css" href="Styles.css" />
</head>

<!--Declaring the body section includes ng-model name and n-controller name-->
<body ng-model="blue" class="blue" ng-app='angularFormApp' ng-controller='regController'>
    <h1> REGISTRATION FORM </h1>

    <!--printing the message-->
    <h2>{{alertMessage}}{{firstname}}</h2>

    <!--Declaring a form named newform-->
    <!--Declaring labels with names-->
    <form name="newForm">
        <p>firstname:<br>
           <div class =input><input type="text" placeholder="first name" name="firstname" id="inputfirstname" ng-model="user.firstname"
                required maxlength="10">
            <span ng-show="newForm.firstname.$dirty && newForm.firstname.$invalid"></span>
            <span ng-show="newForm.firstname.$error.required">Username is required.</span>
        </p>
        <p>lastname:<br>
            <input type="text" placeholder="last name" id="inputlastname" ng-model="user.lastname" maxlength="15" />
        </p>
        <p>email:<br>
            <input type="email" placeholder="email" name="email" id="inputemail" ng-model="user.email" required
                maxlength="30" />
            <span ng-show="newForm.email.$dirty && newForm.email.$invalid"></span>
            <span ng-show="newForm.email.$error.required">mail is required.</span>
            <span ng-show="newForm.email.$error.email">Invalid email address.</span>
        </p>
        <p>password:<br>
            <input type="password" placeholder="password" id="inputpassword" name="password" ng-model="user.password"
                required minlength="5" maxlength="10" />
            <span ng-show="newForm.password.$dirty && newForm.password.$invalid"></span>
            <span ng-show="newForm.password.$error.required">password is required.</span>
        </p>
        <p>phonenumber:<br>
            <input type="text" placeholder="phonenumber" id="inputphonenumber" ng-model="user.phonenumber" minlength="10"
                maxlength="10" />
        </p></div>

        <!--Declaring a button and click on button redirects to script-->
        <p>
            <input type="submit" ng-click="submitForm()" value="Register">
        </p>
    </form>
    <p>{{user | json }}</p>
    </div>
</body>

</html>