<!DOCTYPE html>
<html>
<head>
    <title>Registration FORM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="Script.js"></script>
    <style>
        input.ng-invalid {
    background-color:pink;
}
input.ng-valid {
    background-color:lightgreen;
}
form.ng-pristine
{
    background-color:lightyellow;
}
form.ng-dirty
{
    background-color:lightblue;
}
</style>
</head>

<body ng-model="blue" class="blue" ng-app='angularFormApp' ng-controller='regController'>
    <h1> REGISTRATION FORM </h1>
    <h2>{{alertMessage}}{{firstname}}</h2>
    <div></div>
    <form name="newForm">
        <table>
            <p>firstname:<br>
                <input type="text" placeholder="first name" name="firstname" id="inputfirstname" ng-model="user.firstname"
                    required maxlength="10">
                <span style="color:red" ng-show="newForm.firstname.$dirty && newForm.firstname.$invalid"></span>
                <span ng-show="newForm.firstname.$error.required">Username is required.</span>
            </p>
            <p>lastname:<br>
                <input type="text" placeholder="last name" id="inputlastname" ng-model="user.lastname" maxlength="15" />
            </p>
            <p>email:<br>
                <input type="email" placeholder="email" name="email" id="inputemail" ng-model="user.email" required
                    maxlength="30" />
                <span style="color:red" ng-show="newForm.email.$dirty && newForm.email.$invalid"></span>
                <span ng-show="newForm.email.$error.required">mail is required.</span>
                <span ng-show="newForm.email.$error.email">Invalid email address.</span>
            </p>
            <p>password:<br>
                <input type="password" placeholder="password" id="inputpassword" name="password" ng-model="user.password"
                    required minlength="5" maxlength="10" />
                <div><span style="color:red" ng-show="newForm.password.$dirty && newForm.password.$invalid"></span></div>
                <span ng-show="newForm.password.$error.required">password is required.</span>
            </p>
            <p>phonenumber:<br>
                <input type="text" placeholder="phonenumber" id="inputphonenumber" ng-model="user.phonenumber"
                    minlength="10" maxlength="10" />
            </p>
            <p>
                <input type="submit" ng-click="submitForm()" value="Register">
            </p>
    </form>
    <p>{{user | json }}</p>
    </div>
</body>
</html>