<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div ng-app="myapp" ng-init="First='nishith';Second='kumar';mail='@gmail.com';password=1111">
        <p>FirstName:<input type="text" ng-model="First"> </p>
        <p>LastName:<input type="text" ng-model="Second"></p>
        <p>Email:<input type="email" ng-model="mail"></p>
        <p>Password:<input type="password" required ng-model="password"></p>
        <p><input type="button" value="Register" ng-model="click"></p>
    </div>
    
        <div ng-controller="mycontroller">
        {{message}}
        </div>` 
        <script>
            var app=angular.module("myapp",[]);
            app.controller("mycontroller",function($scope)
            {
                $scope.message="welcome to angular js";
            });
        </script>
</body>
</html>
