
<span  class="editlabel">Edit Labels</span>
<form [formGroup]="labelform">
<div class="one" >
<mat-icon >close</mat-icon>
<input class="first" matInput placeholder= "Create new label" formControlName="createlabel">
</div>
<div>

<div  style="margin-left:20px;"*ngFor ="let users of details">
    
  <mat-icon class="two">label</mat-icon>  

  
  <input type ="text" class="first" matInput placeholder= "{{users.labelname}}" [formControl]="renamelabel" >
       <!-- <button mat-button > <mat-icon *ngIf="modeedit==false">check</mat-icon></button> -->
        <button mat-button (click)=modeedits(users.id)><mat-icon>mode_edit</mat-icon></button>
</div>
</div>
<button class="button"  mat-button (click)="addlabel(labelform.value)" >Done</button>
</form>