<div class="body">
  <div fxLayout="row" class="first" *ngIf="flag==true" fxLayoutGap="10px">

          <input class="takenote" matInput placeholder="take a Note" formControlName="description" (click)="initialize()">

  </div>
  <div class="second" *ngIf="flag==false">
      <form class="some" [formGroup]="noteform">
          <div>
                  <input class="takenote" matInput placeholder="title" formControlName="title">
          </div>
          <div>
              <input class="takenote" matInput placeholder="take a Note" formControlName="description">
          </div>
          <div>
            <mat-icon class="a">notifications_none</mat-icon>
            <mat-icon class="a">insert_photo</mat-icon>
            <mat-icon class="a">archive</mat-icon>
            <mat-icon class="a">color_lens</mat-icon>
            <mat-icon class="a">more_vert</mat-icon>
            <button class="edge" mat-icon-button (click)="Forms(noteform.value)">close</button>
          </div>
          </form>
          </div>
          </div>
