<mat-card class="new">
  <div class fxLayout="column" fxLayoutAlign="center center">
    <div class="heading">FORGOTPASSWORD </div>
    <form class="myForm" [formGroup]="forgetForm" (ngSubmit)='submitForm(forgetForm.value)' novalidate>
      <mat-form-field class="first" matInput [ngClass]="{'has-error':!forgetForm.controls['email'].errors}"
        appearance="outline">
        <input type="email" matInput placeholder=" Enter your email" formControlName="email"
          [formControl]="forgetForm.controls['email']" required>
      </mat-form-field><br>
      <div *ngIf="submitted && forgetForm.controls['email'].errors">

        <div class="validate" *ngIf="forgetForm.controls['email'].errors.required">Email must be a valid email
          address</div>
      </div>
      <div class="second">
        <button mat-button>Submit</button>
      </div>
      {{errormsg}}
    </form>
  </div>

</mat-card>