
<div class="body" > 
<mat-card fxLayoutAlign="row wrap" [ngStyle]="{'background-color': users.color}" class="remindermat" *ngFor="let users of details">
  <div >
    <p>{{users.title}}</p>
    <p>{{users.description}}</p>
    <mat-icon class="a" >notifications_none</mat-icon>
            <mat-icon class="a" > person_add</mat-icon>
            <mat-icon class="a" >insert_photo</mat-icon>
            <button mat-icon-button><mat-icon class="b" (click)="unarchive(users.id)">unarchive</mat-icon></button>
                <mat-icon class="a" >color_lens</mat-icon>
            <mat-icon class="a" >more_vert</mat-icon>
  </div>
</mat-card>
</div>