.remindermat
{
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    width: 260px;
    height: 100px;
    margin-left: 100px;
    margin-top: 60px;
}
.body
{
    max-height: 100%;
    width: 1000px;
    margin-left: 100px;
}