.remindermat
{
    height:150px;
    margin-left:60px;
    width:150px;
    margin-bottom:30px;
}
.card{
    margin-left:53px;
margin-top:44px;
margin-bottom: 30px;
width:215px;
height:5%;
display:inline-block;
color:#7E858A;
font-family: 'Product Sans',Arial,sans-serif;
font-size: 15px;
border-radius: 9px
}