<mat-card class="register">
  <div class="center">
    <!--Declaring the name  has REgistration -->
    <h1>Registration</h1>
  </div>
  <!--Declaring a names for forms ,formgroup-->
  <form class="myform" [formGroup]="registerForm" (ngSubmit)='submitForm(registerForm.value)' novalidate>
    <mat-form-field matinput [ngClass]="{'has-error':!registerForm.controls['firstname'].valid}">

      <!--Declaring a mat-input ,formcontroller name as firstname-->
      <input matInput placeholder=" firstname" formControlName="firstname"
        [formControl]="registerForm.controls['firstname']" required>
    </mat-form-field><br>

    <!--ngif is used to evaluate the condition  contains errors or not-->
    <div *ngIf="submitted && registerForm.controls['firstname'].errors">
      <div class="validate" *ngIf="registerForm.controls['firstname'].errors.required">firstname is required</div>
    </div>

     <!--Declaring a mat-input ,formcontroller name as lastname-->
    <mat-form-field matinput [ngClass]="{'has-error':!registerForm.controls['lastname'].valid}">
      <input matInput placeholder=" lastname" formControlName="lastname"
        [formControl]="registerForm.controls['lastname']" required>
    </mat-form-field><br>

     <!--ngif is used to evaluate the condition  contains errors or not-->
    <div *ngIf="submitted && registerForm.controls['lastname'].errors">
      <div class="validate" *ngIf="registerForm.controls['lastname'].errors.required">lastname is required</div>
    </div>

    <!--Declaring a mat-input ,formcontroller name as email-->
    <mat-form-field matinput [ngClass]="{'has-error':!registerForm.controls['email'].valid}">
      <input type="email" matInput placeholder=" email" formControlName="email"
        [formControl]="registerForm.controls['email']" required>
    </mat-form-field><br>
      <!--ngif is used to evaluate the condition  contains errors or not-->
    <div *ngIf="submitted && registerForm.controls['email'].errors">
      <!--it is used to evaluate that the email must be a valid email -->
      <div class="validate" *ngIf="registerForm.controls['email'].errors.required">Email must be a valid email
        address</div>
        <!--it is used to evaluate that the email is required if the user leaves it empty -->
      <div class="validate" *ngIf="registerForm.controls['email'].errors.required">email is required</div>
    </div>

     <!--Declaring a mat-input ,formcontroller name as password -->
    <mat-form-field matinput [ngClass]="{'has-error':!registerForm.controls['password'].valid}">
      <input type="password" matInput placeholder=" password" formControlName="password"
        [formControl]="registerForm.controls['password']" required>
    </mat-form-field><br>

       <!--ngif is used to evaluate the condition  contains errors or not-->
    <div *ngIf="submitted && registerForm.controls['password'].errors">

         <!--it is used to evaluate that the passsword  is required if the user leaves it empty -->
      <div class="validate" *ngIf="registerForm.controls['password'].errors.required">password is required</div>
    </div>
     <!--Declaring a mat-input ,formcontroller name as confirmpassword password -->
    <mat-form-field matinput [ngClass]="{'has-error':!registerForm.controls['confirmpassword'].valid}">
      <input type="password" matInput placeholder=" confirmpassword" formControlName="confirmpassword"
        [formControl]="registerForm.controls['confirmpassword']" required>
    </mat-form-field><br>
    <div *ngIf="submitted && registerForm.controls['confirmpassword'].errors">
      <!--Evaluating the condition that it must be same -->
      
      <div class="validate" *ngIf="registerForm.controls['confirmpassword'].errors.MatchPassword">password should be
        same</div>
    </div>
    <div class="bfield">
      <button mat-button>Register</button>
      <button mat-button routerLink="../login">Login</button>
      <br><br>
    </div>
    <div>{{ errormsg }}</div>

  </form>
</mat-card>