.first
{
    border:none;
    outline:none;
    line-height: 34px;
 font-size: 16px;
 /* margin-left:50px; */
}
.one
{
    margin-left: 30px;
    margin-top:20px;
}
.two
{
    margin-left:25px;
}
.legend
{
    margin-left:35px;
}
.editlabel
{
    margin-left:15px;
}
.o
{
    margin-left:20px;
    margin-bottom:40px;
}
.button
{
    margin-left:250px;
}