.a
{
    margin-left:10px;
}
.b
{
    margin-left:10px;
}
.c
{
    margin-left:10px;
}
.d
{
    margin-left:10px;
}
.e
{
    margin-top:-13px;
}
.f
{
    margin-top:-13px;
    margin-left:25px;
}
.icons
{
    margin-top:60px;
}
.etitle
{
    outline:none;
 border:none;
 line-height: 34px;
 font-size: 16px;
}
.menu
{
    width:160px;

}