
  <div>
    <form [formGroup]="editform">
    <div><input class="etitle"  matInput value="{{title}}" formControlName="ftitle" ></div>
    <div><input class="etitle" matInput  value="{{description}}"  formControlName="fdescription" ></div>
      <div class="icons">
          <mat-icon class="a">notifications_none</mat-icon>
      <mat-icon class="b">person_add</mat-icon>
      <mat-icon class="c">insert_photo</mat-icon>
      <mat-icon class="d">archive</mat-icon>
      <mat-icon class="e">color_lens</mat-icon>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon class="image">more_vert</mat-icon>
      </button>
      <button mat-button (click)="updating(editform.value)">close</button>
      </div>
      
      <mat-menu class="menu" #appMenu="matMenu">
          <button mat-menu-item (click)="deleted(editform.value)"> Delete Note</button>
          <button mat-menu-item>Add Label</button>
          <button mat-menu-item>Add Drawing</button>
          <button mat-menu-item>Make a copy</button>
      </mat-menu>
    </form>
  </div>