
<div class="flexdiv" fxLayout="row" fxLayoutAlign="center center">
    {{session}}
  <mat-card   class="card">
    <mat-card-title>Reset password</mat-card-title>
    <form [formGroup]="resetForm" (ngSubmit)='submitForm(resetForm.value)' novalidate>
      <mat-form-field>
        <input type="password" matInput placeholder="Enter your password" formControlName="password" ngShow="isHidden"
          [formControl]="resetForm.controls['password']" required  maxlength="10"/>
        <mat-error *ngIf="submitted && resetForm.controls['password'].errors">

          <div  class="validate" *ngIf="resetForm.controls['password'].errors.required">password is required</div>
        </mat-error>
      </mat-form-field>
      <button fxLayout="row" mat-raised-button color="primary">Reset</button><br>
      {{errormsg}} 
    </form>
  </mat-card>
  
</div>