.first
{
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  padding: 6px 16px;
  margin-left:20%;
  width: 150%;
  max-width: 550px;
  font-size: 10px;
  line-height: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.body{
  max-height: 100%;
}
.second
{
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  padding: 6px 16px;
  margin-left:20%;

  max-width: 550px;
  font-size: 12px;
  line-height: 34px;
  margin-bottom: 60px;
  margin-top: 50px;
}
.notes
{
    max-width: 145px;
    display:65px;

    margin-top: 20px;
    margin-left:45px;
}
.designs
{
  color: rgb(104, 101, 101);
}
.menu
{
  margin-top: 50px;
}
.edge
{
  margin-left: 250px;
}
.image
{
  margin-bottom: 19px;
}
.outline
{
  outline:none;
  border:none;
}
.takenote
{
 outline:none;
 border:none;
 line-height: 34px;
 font-size: 16px;
}
.schedule
{
font-size: 20px;
margin-top:30px;
}
.call
{
   max-width: 155px;
  height: 150px;
  
  margin-left:275px;
  margin-top:-350px;
}
.arrow
{
  /* line-height: -80px;
  padding-right: 1000%; */
}
.example-full-width
{
 max-width: 120px;
}
.example
{
  max-width: 125px;
}
.line
{
  margin-left: -15px;
}