.first
{
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  padding: 6px 16px;
  margin-left:20%;
  width: 150%;
  max-width: 550px;
  font-size: 10px;
  line-height: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.body{
  max-height: 100%;
}
.second
{
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  padding: 6px 16px;
  margin-left:20%;

  max-width: 550px;
  font-size: 12px;
  line-height: 34px;
  margin-bottom: 60px;
  margin-top: 50px;
}
.notes
{
    max-width: 145px;
    display:65px;
    margin-top: 10px;
    margin-left:45px;
    margin-bottom: 10px;
}
.designs
{
  color: rgb(104, 101, 101);
}
.menu
{
  margin-top: 50px;
}
.edge
{
  margin-left: 250px;
}
.image
{
  margin-bottom: 19px;
}
.outline
{
  outline:none;
  border:none;
}
.takenote
{
 outline:none;
 border:none;
 line-height: 34px;
 font-size: 16px;
}
.schedule
{
font-size: 10px;
margin-top:30p;
}
.call
{
   max-width: 155px;
  height: 180px;
  position: fixed;
  margin-left:208px;
  margin-top:-486px;
}
.arrow
{
  /* line-height: -80px;
  padding-right: 1000%; */
}

.example-full-width
{
 max-width: 120px;
}
.example
{
  max-width: 125px;
}
.line
{
  margin-left: -15px;
}
.row{
margin-left:53px;
margin-top:44px;
margin-bottom: 30px;
width:220px;
height:5%;
display:inline-block;
color:#7E858A;
font-family: 'Product Sans',Arial,sans-serif;
font-size: 15px;
border-radius: 9px
}
.column
{
  margin-left:150px;
width:620px;
height: 10%;
display: inline-block;
color:#7E858A;
font-family: 'Product Sans',Arial,sans-serif;
font-size: 15px;
border-radius: 9px;
margin-bottom: 49px;
}
.icons
{
  padding: 10%;
  margin-left:5px;
}
.a
{
  margin-left:10px;
}
.b
{
  margin-left:10px;
}
.c
{
  margin-left:10px;
}
.d
{
  margin-left:10px;
}
.e
{
  margin-left:10px;
}
